{{ define "main" }}
<div class='hx:mx-auto hx:flex hextra-max-page-width'>
    <article class="hx:w-full hx:break-words hx:flex hx:min-h-[calc(100vh-var(--navbar-height))] hx:min-w-0 hx:justify-center hx:pb-8 hx:pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx:w-full hx:min-w-0 hx:max-w-6xl hx:px-6 hx:pt-4 hx:md:px-12">
        {{ partial "breadcrumb.html" (dict "page" . "enable" false) }}
        <div class="content">
          {{ if .Title }}<h1>{{ .Title }}</h1>{{ end }}
          {{ .Content }}
        </div>
        <div class="hx:mt-16 hx:flex hx:flex-wrap hx:gap-4 hx:md-gap-8">
    		{{ range .Pages }}
    		<div class="hx:w-full hx:md:w-2/5 hx:grow hx:min-h-24 hx:md:min-32 hx:p-2 hx:md:p-6 hx:border-2 hx:rounded-lg hx:border-gray-500 hx:shadow-sm hx:hover:bg-sky-100/60">
    			<a href="{{ .Permalink }}">
    				<h2 class="hx:text-lg hx:text-bold hx:text-primary">{{ .Title }}</h2>
    			</a>
    			<div>
    			<p class="hx:text-sm hx:text-gray-500">{{ truncate 100 .Plain }}</p>
                        {{ if .Truncated }}
                        <a class="hx:text-sm hx:text-indigo-200" href="{{ .RelPermalink }}">Read More…</a>
                        {{ end }}
    			</div>
    		</div>
    		{{ end }}
        </div>
        {{ partial "components/last-updated.html" . }}
        {{ partial "components/comments.html" . }}
      </main>
    </article>

</div>
{{ end }}
